{% extends "base.html" %} {% block content %}
<h2>Auctions</h2>

<form method="get" action="{{ url_for('auctions.auction_list') }}">
    <input type="text" name="q" placeholder="Search..." value="{{ q }}">
    <button type="submit">Search</button>
    {% if q %}
        <a href="{{ url_for('auctions.auction_list') }}">Clear</a>
    {% endif %}
</form>

<hr>

{% if auctions %}
<ul>
  {% for a in auctions %}
  <li>
    <strong>{{ a.title }}</strong>
    Category: {{ a.category }} Starting bid: {{ a.starting_bid }} SEK Ends: {{
    a.end_datetime }}
    <a href="{{ url_for('auctions.auction_detail', auction_id=a.id) }}"
      >View auction</a
    >
  </li>
  <hr />
  {% endfor %}
</ul>
{% else %}
<p>No auctions found.</p>
{% endif %} {% endblock %}
